Repository octocampus/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, autoflake, validate-all-workflows

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
      - id: black
        name: Formats python files using black
        language_version: python3.9.4
  - repo: https://github.com/lyz-code/yamlfix
    rev: 0.9.0
    hooks:
      - id: yamlfix
        name: yamlfix
        entry: yamlfix
        language: python
        language_version: python3
        types: [yaml]
  - repo: local
    hooks:
      - id: yamllint
        name: Check yaml files with yamllint
        entry: yamllint -c yamllint-config.yml .
        stages: [push]
        language: python
        types: [file, yaml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.2.3
    hooks:
      - id: flake8
        exclude: ^(examples/|output/)
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-xml
        exclude: ^(examples/|output/)
      - id: debug-statements
      - id: detect-private-key
      - id: fix-encoding-pragma
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: meta
    hooks:
      - id: check-hooks-apply
  - repo: git://github.com/luismayta/pre-commit-mypy
    rev: 0.1.1
    hooks:
      - id: mypy
        name: Checks typing annotations consistency with mypy
        require_serial: true
  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v3.0.0a5
    hooks:
      - id: pylint
        name: Checks for common programming errors with pylint
        exclude: ^(examples/|output/)
        files: \.py$
  - repo: https://github.com/thlorenz/doctoc.git
    rev: v2.2.0
    hooks:
      - id: doctoc
        files: ^README\.md|CONTRIBUTING\.md$
        args:
          - --maxlevel
          - '2'
  - repo: local
    hooks:
      - id: autoflake
        name: Autoflake - removes unused imports and variables
        entry: autoflake
        language: python
        files: \.py$
        args: [--in-place, --remove-all-unused-imports, --remove-unused-variable,
          --recursive]
      - id: pytest
        name: Runs all unit tests with pytest
        entry: ./bin/o2a-run-all-unit-tests
        language: script
        pass_filenames: false

        always_run: true
      - id: validate-all-workflows
        name: Validates all oozie workflows
        language: system
        entry: ./bin/o2a-validate-all-workflows
        files: \workflow.xml$

refactoring
  .pre-commit-config.yaml
Due: yamllint

fix examples tests
  .github/workflows/CI.yml
  bin/o2a-run-all-conversions
  bin/o2a-run-sys-test
  examples/awb-workflow-mouvement_comptable/.DS_Store
  examples/awb-workflow-mouvement_comptable/coordinator/coord.properties
  examples/awb-workflow-mouvement_comptable/coordinator/coord.xml
  examples/awb-workflow-mouvement_comptable/hdfs/workflow.xml
  examples/awb-workflow-mouvement_comptable/job.properties
  examples/awb-workflow-mouvement_comptable/scripts/copydata.hql
  examples/awb-workflow-mouvement_comptable/scripts/date_and_number_of_lines.sh
  examples/awb-workflow-mouvement_comptable/scripts/external.hive
  examples/awb-workflow-mouvement_comptable/scripts/insert_trace.hql
  examples/awb-workflow-mouvement_comptable/scripts/insert_trace_hdfs.sh
  examples/awb-workflow-mouvement_comptable/scripts/orc.hive
  examples/awb-workflow-purge_daily/coordinator/coord.properties
  examples/awb-workflow-purge_daily/coordinator/coord.xml
  examples/awb-workflow-purge_daily/hdfs/scripts/purge_snap_shots_daily.sh
  examples/awb-workflow-purge_daily/hdfs/workflow.xml
  examples/awb-workflow-purge_daily/job.properties
  o2a/utils/el_utils.py
Due: yamllint, autoflake, validate-all-workflows

fix examples tests
  examples/awb-workflow-purge_daily/hdfs/scripts/purge_snap_shots_daily.sh
Due: none

fix ci
  .github/workflows/CI.yml
Due: yamllint

fix ci
  tests/utils/test_el_utils.py
Due: autoflake

fix ci
  bin/o2a-run-sys-test
Due: none

Update README.md
  README.md
Due: none

fix ci
  README.md
Due: none

fix ubuntu version on git action
  .github/workflows/CI.yml
Due: yamllint

update black version
  requirements.txt
Due: none

update black version in precommit
  .pre-commit-config.yaml
Due: yamllint

upgrade python version
  .github/workflows/CI.yml
Due: yamllint

upgrade python version
  .github/workflows/CI.yml
  install/dataproc/oozie-5.1.sh
Due: yamllint

clean structure
  install/cdp/Vagrantfile
  install/cdp/cloudera-manager-install.sh
  install/vm/Vagrantfile
  install/vm/install.sh
Due: none

clean structure
  .pre-commit-config.yaml
Due: yamllint

update git action with ubunto
  .github/workflows/CI.yml
Due: yamllint

..
  .github/workflows/CI.yml
Due: yamllint

..
  install/cdp/Vagrantfile
Due: none

fix mypy
  .pre-commit-config.yaml
  mypy.ini
  o2a/o2a_libs/el_parser.py
  o2a/tasks/spark_local_task.py
Due: yamllint, autoflake

fix examples
  examples/advancedflow/workflow.xml
  examples/awb-workflow-mouvement_comptable/workflow.xml
  examples/awb-workflow-purge_daily/scripts/purge_snap_shots_daily.sh
  examples/awb-workflow-purge_daily/workflow.xml
  examples/childwf/hdfs/lib/wordcount.jar
  examples/childwf/input/Word_Count_input.txt
  examples/childwf/workflow.xml
  examples/decision/workflow.xml
  examples/demo/pig/id.pig
  examples/demo/pig/input-data/test-data.txt
  examples/demo/workflow.xml
  examples/distcp/input-data/test-data.txt
  examples/distcp/workflow.xml
  examples/el/workflow.xml
  examples/email/workflow.xml
  examples/fs/workflow.xml
  examples/git/workflow.xml
  examples/hive/input-data/table
  examples/hive/script.q
  examples/hive/workflow.xml
  examples/java/hdfs/lib/demo-java-main.jar
  examples/java/workflow.xml
  examples/mapreduce/hdfs/lib/wordcount.jar
  examples/mapreduce/input/Word_Count_input.txt
  examples/mapreduce/job-queue-conf.xml
  examples/mapreduce/workflow.xml
  examples/pig/hdfs/test_dir/test2.zip
  examples/pig/hdfs/test_dir/test3.zip
  examples/pig/id.pig
  examples/pig/input-data/test-data.txt
  examples/pig/test_dir/test.txt
  examples/pig/workflow.xml
  examples/shell/workflow.xml
  examples/spark/hdfs/lib/oozie-examples-4.3.0.jar
  examples/spark/workflow.xml
  examples/ssh/workflow.xml
  examples/subwf/workflow.xml
Due: validate-all-workflows

fix examples:2
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
Due: autoflake

fix input directory structure
  o2a/converter/constants.py
  o2a/o2a.py
  o2a/utils/config_extractors.py
  tests/utils/test_config_extractors.py
Due: autoflake

fix structure of input directory
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
Due: autoflake

update docs
  README.md
Due: none

fix scripts problem
  .pre-commit-config.yaml
  o2a/converter/oozie_converter.py
Due: yamllint, autoflake

static checks
  README.md
  tests/utils/test_config_extractors.py
Due: autoflake
