Repository octocampus/oozie-to-airflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, validate-all-workflows

autoflake:
  name: Autoflake - removes unused imports and variables
  entry: autoflake
  language: python
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variable
  - --recursive

validate-all-workflows:
  name: Validates all oozie workflows
  language: system
  entry: ./bin/o2a-validate-all-workflows

fix-copy-jar-lib-files
  .github/workflows/CI.yml
  o2a/converter/oozie_converter.py
  o2a/utils/file_utils.py
Due: autoflake

fix-python-version-precommit
  .pre-commit-config.yaml
Due: none

fix ci
  .github/workflows/CI.yml
  .pre-commit-config.yaml
Due: none

fix examples
  .gitignore
  examples/advancedflow/workflow.xml
  examples/awb-workflow-mouvement_comptable/workflow.xml
  examples/awb-workflow-purge_daily/scripts/purge_snap_shots_daily.sh
  examples/awb-workflow-purge_daily/workflow.xml
  examples/childwf/input/Word_Count_input.txt
  examples/childwf/lib/wordcount.jar
  examples/childwf/workflow.xml
  examples/decision/workflow.xml
  examples/demo/pig/id.pig
  examples/demo/pig/input-data/test-data.txt
  examples/demo/workflow.xml
  examples/distcp/input-data/test-data.txt
  examples/distcp/workflow.xml
  examples/el/workflow.xml
  examples/email/workflow.xml
  examples/fs/workflow.xml
  examples/git/workflow.xml
  examples/hive/input-data/table
  examples/hive/script.q
  examples/hive/workflow.xml
  examples/java/lib/demo-java-main.jar
  examples/java/workflow.xml
  examples/mapreduce/input/Word_Count_input.txt
  examples/mapreduce/job-queue-conf.xml
  examples/mapreduce/lib/wordcount.jar
  examples/mapreduce/workflow.xml
  examples/pig/id.pig
  examples/pig/input-data/test-data.txt
  examples/pig/test_dir/test.txt
  examples/pig/test_dir/test2.zip
  examples/pig/test_dir/test3.zip
  examples/pig/workflow.xml
  examples/shell/workflow.xml
  examples/spark/lib/oozie-examples-4.3.0.jar
  examples/spark/workflow.xml
  examples/ssh/workflow.xml
  examples/subwf/workflow.xml
Due: validate-all-workflows

fix input directory structure
  o2a/converter/constants.py
  o2a/converter/oozie_converter.py
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
  o2a/o2a.py
  o2a/utils/config_extractors.py
  tests/utils/test_config_extractors.py
Due: autoflake

clean pre-commit
  .pre-commit-config.yaml
Due: none

clean ci
  .github/workflows/CI.yml
Due: none

implement coord:current function
  examples/current-example/coordinator/coord.properties
  examples/current-example/coordinator/coord.xml
  examples/current-example/job.properties
  examples/current-example/workflow.xml
  o2a/o2a_libs/el_coord_functions.py
  o2a/templates/input_events_sensor.tpl
  o2a/transformers/add_workflow_data_events_sensors_transformer.py
Due: autoflake, validate-all-workflows

fix datasets variable in templates
  o2a/templates/workflow.tpl
Due: none

refactoring
  o2a/o2a_libs/el_coord_functions.py
Due: autoflake

adding tests for current function
  tests/o2a_libs/test_el_coord_functions.py
Due: autoflake

adding tests
  tests/o2a_libs/test_el_coord_functions.py
Due: autoflake

fix implementaion current
  o2a/o2a_libs/el_coord_functions.py
  o2a/o2a_libs/el_parser.py
  o2a/templates/input_events_sensor.tpl
  o2a/transformers/add_workflow_data_events_sensors_transformer.py
  tests/o2a_libs/test_el_coord_functions.py
Due: autoflake

multi subwf conversion fix
  o2a/converter/constants.py
  o2a/converter/renderers.py
  o2a/mappers/subworkflow_mapper.py
  tests/mappers/test_subworkflow_mapper.py
Due: autoflake

subdags a python package
  o2a/converter/renderers.py
  o2a/mappers/subworkflow_mapper.py
  o2a/o2a_libs/el_coord_functions.py
  tests/converter/test_oozie_converter.py
Due: autoflake

fix test coord_functions
  tests/o2a_libs/test_el_coord_functions.py
Due: autoflake

fix multi-subwf conversion
  o2a/converter/constants.py
  o2a/converter/oozie_converter.py
  o2a/converter/workflow.py
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/subworkflow_mapper.py
  o2a/o2a.py
  tests/converter/test_oozie_converter.py
  tests/mappers/test_subworkflow_mapper.py
Due: autoflake

clean templates
  o2a/templates/filepath.tpl
  o2a/templates/input_events_sensor.tpl
Due: none

clean template
  o2a/templates/filepath.tpl
Due: none

replace open with touch
  o2a/converter/renderers.py
  o2a/mappers/subworkflow_mapper.py
Due: autoflake

refine
  o2a/mappers/subworkflow_mapper.py
  o2a/templates/input_events/input_events_sensor.tpl
  o2a/templates/input_events/sensor_filepath.tpl
  o2a/transformers/add_workflow_data_events_sensors_transformer.py
Due: autoflake

refactoring
  o2a/o2a_libs/el_coord_functions.py
  tests/o2a_libs/test_el_coord_functions.py
Due: autoflake

fix dot renderers
  o2a/converter/renderers.py
Due: autoflake

shell-conversion
  o2a/mappers/action_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/o2a_libs/operators.py
  o2a/templates/operators/archive_oozie_operator.tpl
  o2a/templates/operators/file_oozie_operator.tpl
  o2a/utils/file_archive_extractors.py
  tests/converter/test_workflow_xml_parser.py
  tests/mappers/test_archive_extractor.py
  tests/mappers/test_file_extractor.py
  tests/mappers/test_shell_mapper.py
  tests/o2a_libs/test_operators.py
Due: autoflake

add files/archives support for hive/shell actions
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/hive_mapper.py
  o2a/o2a_libs/operators.py
  tests/mappers/test_hive_mapper.py
  tests/o2a_libs/test_operators.py
Due: autoflake

test ArchivesOozieOperator
  tests/o2a_libs/test_operators.py
Due: autoflake

fix CI
  .github/workflows/CI.yml
Due: none

Test files/archives oozie operators
  tests/o2a_libs/test_operators.py
Due: autoflake

added shell operator adn utility classes
  o2a/mappers/shell_mapper.py
  o2a/o2a_libs/operators/__init__.py
  o2a/o2a_libs/operators/shell_oozie_operator.py
  o2a/o2a_libs/util_classes.py
  o2a/o2a_libs/utils.py
  o2a/schema/spark-action-0.1.xsd
  o2a/templates/shell/shell.tpl
Due: autoflake

PrepareAction and CopyToWorker Testing
  o2a/o2a_libs/util_classes.py
  o2a/o2a_libs/utils.py
  o2a/tasks/shell/shell_local_task.py
  tests/converter/test_oozie_converter.py
  tests/mappers/test_shell_mapper.py
  tests/o2a_libs/test_util_classes.py
Due: autoflake

shell actoin conversion
  o2a/mappers/distcp_mapper.py
  o2a/mappers/extensions/prepare_mapper_extension.py
  o2a/mappers/git_mapper.py
  o2a/mappers/hive_mapper.py
  o2a/mappers/java_mapper.py
  o2a/mappers/mapreduce_mapper.py
  o2a/mappers/pig_mapper.py
  o2a/mappers/shell_mapper.py
  o2a/mappers/spark_mapper.py
  o2a/o2a_libs/operators/shell_oozie_operator.py
  o2a/o2a_libs/operators/spark_oozie_operator.py
  o2a/o2a_libs/util_classes.py
  o2a/templates/shell/shell.tpl
  tests/mappers/extensions/test_prepare_mapper_extension.py
  tests/mappers/test_distcp_mapper.py
  tests/mappers/test_git_mapper.py
  tests/mappers/test_shell_mapper.py
  tests/mappers/test_spark_mapper.py
  tests/o2a_libs/test_util_classes.py
  tests/test_templates.py
Due: autoflake

upgrade packages
  o2a/o2a_libs/el_coord_functions.py
  o2a/o2a_libs/el_wf_functions.py
  requirements.txt
Due: autoflake

added custom operators utils
  o2a/o2a_libs/operators/__init__.py
  o2a/o2a_libs/operators/shell_oozie_operator.py
  o2a/o2a_libs/util_classes.py
  o2a/o2a_libs/utils.py
  o2a/utils/el_utils.py
  tests/o2a_libs/test_util_classes.py
  tests/o2a_libs/test_utils.py
Due: autoflake

added shell custom operator
  o2a/mappers/action_mapper.py
  o2a/mappers/extensions/prepare_mapper_extension.py
  o2a/mappers/shell_mapper.py
  o2a/tasks/shell/shell_local_task.py
  o2a/templates/extra_vars.tpl
  o2a/templates/shell/shell.tpl
  tests/converter/test_oozie_converter.py
  tests/mappers/test_shell_mapper.py
  tests/test_templates.py
Due: autoflake

added hive custom operator
  o2a/converter/workflow_xml_parser.py
  o2a/mappers/hive_mapper.py
  o2a/o2a.py
  o2a/o2a_libs/el_parser.py
  o2a/o2a_libs/operators/hive_oozie_operator.py
  o2a/tasks/hive/hive_local_task.py
  o2a/templates/hive/hive.tpl
  tests/mappers/test_hive_mapper.py
  tests/test_templates.py
Due: autoflake

added spark custom operator
  o2a/mappers/spark_mapper.py
  o2a/o2a_libs/operators/spark_oozie_operator.py
  o2a/tasks/spark_local_task.py
  o2a/templates/spark/spark.tpl
  o2a/templates/spark/spark_vars.tpl
  tests/mappers/test_spark_mapper.py
  tests/test_templates.py
Due: autoflake

fix subwf and imports
  o2a/converter/workflow.py
  o2a/mappers/decision_mapper.py
  o2a/mappers/distcp_mapper.py
  o2a/mappers/dummy_mapper.py
  o2a/mappers/email_mapper.py
  o2a/mappers/fs_mapper.py
  o2a/mappers/git_mapper.py
  o2a/mappers/subworkflow_mapper.py
  o2a/templates/decision.tpl
  o2a/templates/dummy.tpl
  o2a/templates/fs_op.tpl
  o2a/templates/git.tpl
  tests/converter/test_oozie_converter.py
Due: autoflake

Path conditions:
  autoflake: any of: \.py$
  validate-all-workflows: any of: \workflow.xml$
